<h1>New foodstuffs</h1>

<%= error_messages_for :foodstuff %>

<% form_for(@foodstuff) do |f| %>
  <p>
    Name: <%= f.text_field :name %><br>
    Helper Text: <%= f.text_field :helper_text %><br>
    <%= f.submit "Create" %>
  </p>
<% end %>

<p>
<%= link_to 'Back', foodstuffs_path %>
</p>